<div >
<ul class="messages" id="iframe">
     <li class="message left appeared">
  <div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
<div class="text_wrapper">
        <div class="text-header">
Welcome to Instarem Bot! Are you a returning user to instarem or you would just inquire about the frequently asked questions? </div>  
<ul>
<li>
 <%= link_to bot_start_path , method: :post , :remote => "true"   do %> 
<center> Need Information </center>  <% end %> 

</li>
<li>

 <%= link_to bot_existing_path , :remote => true   do %> 
<center> Existing User </center>  <% end %>
</li>  
</ul>
</div>
</li>
<div id="show">

<%= render @messages %>
</div>
<div id="typing"> 
 </div>
 <ul id="popups" class="pager">
   <li><%=link_to "Registration" , bot_info_tags_path("Registration") , :remote => "true" %> </a></li>
    <li><a> Transaction </a></li>
    <li><a> Offers </a></li>
    <li><a> New Products </a></li>
    <li><a>FAQ </a></li>

  </ul>
 <div class="bottom">


<%= form_for @message, :url => {:controller => "bot", :action => "new"} , :remote => "true" do |f| %>
<div class="input-group">

   <%= f.text_field :message , :class => 'form-control' , :id => "message_input" %><br />
    <span class="input-group-btn" id="basic-addon2"> 
     <%= button_tag( :class => "btn btn-default btn-primary") do %>
   <i class="glyphicon glyphicon-chevron-right"></i>
<% end %>
</span>
  </div>

<% end %>
</div>


<script type="text/javascript">
var questions_popups = [ ]


$('#popups a').click(function (e) {
 
	  $("#message_input").val(e.currentTarget.text);
    $("#new_message").submit();
    number = Math.floor(Math.random() * questions_popups.length);
    if(questions_popups[number])
    {
    e.currentTarget.text =  questions_popups[number];
    questions_popups.splice(number, 1);
    }
    else 
    { 
    $(e.currentTarget).hide();
    }
    e.preventDefault();
});






</script>