<li class="message left appeared">
		 	<div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
					<div class="text_wrapper">
						<div class="text-header">Your beneficiary list</div>
						<ul class="b-list">
						<% @parsed.each do |bene| %>
							<li>
								<div class="b-name">
									<%= bene["firstName"] %> <%= bene["lastName"] %> 
								</div>
								<div class="b-bank">
									<%= image_tag "bank.png" %> <span class="b-bank-name"><%= bene["bank"] %></span>
								</div>
								<div class="b-id"><%= image_tag "id-no.png" %><span class="b-id-no"><%= bene["accountNumber"] %></span></div>
							</li>
							<% end %>
							<li>
								<div class="row">
							<%= form_tag(bot_search_bene_path , :method=>'post', :multipart => true , :class => "text-left" , :id => "login-form" , :remote => "true") do %>

									<div class="input-group">
									<input name="search_tag" type="text" class="form-control b-search" placeholder="Search for...">
									<%= button_tag(:type => "submit" , :class => "border:none;")   do %>
          	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          		<% end %>

								</div>
								<% end %>
								</div>
								
							</li> 
						</ul>
					</div>
				</li>
				

