 <div class=" container">

<div class="col-md-10 col-md-offset-1 panel">
 <h4>  <%= @parsed[0]["firstName"] %>  <%= @parsed[0]["lastName"] %>
 </h4>
 <p class="lead">
 <%= @parsed[0]["bank"] %> : <%= @parsed[0]["accountNumber"] %> </p>
 </div>

<div class="col-md-10 col-md-offset-1 panel">
 <h4>  <%= @parsed[1]["firstName"] %>  <%= @parsed[1]["lastName"] %>
 </h4>
 <p class="lead">
 <%= @parsed[1]["bank"] %> : <%= @parsed[1]["accountNumber"] %> </p>
 </div>

<div class="col-md-10 col-md-offset-1 panel">
 <h4>  <%= @parsed[2]["firstName"] %>  <%= @parsed[2]["lastName"] %>
 </h4>
 <p class="lead">
 <%= @parsed[2]["bank"] %> : <%= @parsed[2]["accountNumber"] %> </p>
 </div>

<div class="col-md-10 col-md-offset-1 panel">
 <h4>  <%= @parsed[3]["firstName"] %>  <%= @parsed[3]["lastName"] %>
 </h4>
 <p class="lead">
 <%= @parsed[3]["bank"] %> : <%= @parsed[3]["accountNumber"] %> </p>
 </div>
 
 </div>

