  
 <li class="message right appeared">
      <div class="text_wrapper">
        <div id="display_message_fx" class="text">
        Current Fx Exchange Rates
        </div>
      </div>
     </li>


   <li class="message left appeared">
  <div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
                <div class="text_wrapper">
                    <div class="text-header">Select sending & Receiving countries</div>
                 <%= form_tag(bot_fx_path , :method=>'post', :multipart => true  , :remote => "true") do %>

                    <ul>
                        <li>

                            <div class="to_from">From</div>
                          
                        <label for="country_1" style="display: none;" class="sr-only"></label>

                             <%= select_tag "from_curr" , options_for_select([["US Dollar (USD)", "USD"], ["Australian Dollar (AUD)", "AUD"] , ["Hong Kong Dollar (HKD)" , "HKD"] , ["Singapore Dollar (SD)" , "SD"]]) ,:id => "country_1" , :class => "selectpicker dropdown" %>  


                            <div class="to_from">To</div>
                            <div class="dropdown">
                           <label for="country_2" style="display: none;" class="sr-only"></label>
                             
<%= select_tag "country" , options_for_select([["US Dollar (USD)", "USD"], ["Australian Dollar (AUD)", "AUD"] , ["Hong Kong Dollar (HKD)" , "HKD"] , ["Singapore Dollar (SD)" , "SD"] , ["Bangladeshi Taka (BT)" , "BDT"] , ["Euro (EUR)" , "EUR"] , ["British Pound (GBP)" , "GBP"] , ["Hong Kong Dollar (HKD)" , "HKD"] , ["IndianEsian Rupiah (IDR)" , "IDR"] , ["Indian Ruppee (INR)" , "INR"] , ["SriLankan Ruppee (LKR)" , "LKR"] , ["Malaysian Ringgit (MYR)" , "MYR"] , ["Nepalese Ruppee (NPR)" , "NPR"] , ["Philleppine Pese (PHP)" , "PHP"] , ["Thai Bhat (THB)" , "THB"] , ["Vietnamese Dong (VND)", "VND"]]) , :id => "country_2" , :class => "selectpicker dropup" , :"data-live-search" => "true"  %>
                            </div>
                        </li>


                        <li id="center-align"> 
                <%= button_tag(:type => "submit")  do %>
                Rate
                <% end %>
                       </li>
                    </ul>
                    <% end %>
                </div>
            </li>









<div id="showrate">
</div>


<script type="text/javascript">
    $('.selectpicker').selectpicker({
  size: 3
});

</script>