  



   <li class="message left appeared">
  <div class="avatar"> <%= image_tag "tackie-big.png" %> </div>
                <div class="text_wrapper">
                    <div class="text-header">Select sending & Receiving countries</div>
                 <%= form_tag(bot_fx_path , :method=>'post', :multipart => true  , :remote => "true") do %>

                    <ul>
                        <li>

                            <div class="to_from">From</div>
                          
                        <label for="country_1" style="display: none;" class="sr-only"></label>

                             <%= select_tag "from_curr" , options_for_select([["US Dollar", "USD"], ["Australian Dollar", "AUD"] , ["Hong Kong Dollar" , "HKD"] , ["Singapore Dollar" , "SD"]]) ,:id => "country_1" , :class => "selectpicker" %>  


                            <div class="to_from">To</div>
                            <div class="dropdown">
                           <label for="country_2" style="display: none;" class="sr-only"></label>
                             
<%= select_tag "country" , options_for_select([["US Dollar", "USD"], ["Australian Dollar", "AUD"] , ["Hong Kong Dollar" , "HKD"] , ["Singapore Dollar" , "SD"] , ["Bangladeshi Taka" , "BDT"] , ["Euro" , "EUR"] , ["British Pound" , "GBP"] , ["Hong Kong Dollar" , "HKD"] , ["IndianEsian Rupiah" , "IDR"] , ["Indian Ruppee" , "INR"] , ["SriLankan Ruppee" , "LKR"] , ["Malaysian Ringgit" , "MYR"] , ["Nepalese Ruppee" , "NPR"] , ["Philleppine Pese" , "PHP"] , ["Thai Bhat" , "THB"] , ["Vietnamese Dong", "VND"]]) , :id => "country_2" , :class => "selectpicker" , :"data-live-search" => "true" %>
                            </div>
                        </li>


                        <li id="center-align"> 
                <%= button_tag(:type => "submit")  do %>
                Rate
                <% end %>
                       </li>
                    </ul>
                    <% end %>
                </div>
            </li>









<div id="showrate">
</div>


<script type="text/javascript">
    $('.selectpicker').selectpicker({
  size: 3
});

</script>