 <ul id="popups" class="pager">
	 <% if check_login %>
	<li>  <%= link_to "Menu" , bot_existing_path , :remote => true  %> </li>
     <% else %>
	<li>  <%= link_to "Login" , bot_existing_path , :remote => true  %> </li>

    <% end %>
    <li><%= link_to "Miscellaneous" , bot_need_misc_path , :remote => true  %></li>
    <li><%= link_to "Registration" , bot_need_regis_path , :remote => true  %></li>
   <li><%= link_to "Transaction" , bot_need_transact_path , :remote => true  %></li>
      <li><%= link_to "Offers" , bot_need_offers_path , :remote => true  %></li>

    <% if check_login %>
   <li> <%=link_to "Logout" , bot_logout_path , :method => "post" , :remote => "true" %> </a></li>
    <% end %>
    </ul>
    <div id="renderer"> 
    </div>