<br/><div class=" container">
<div class="col-md-10 panel col-md-offset-1">

Name : <%= @prev_transact_1["payeeName"] %> <br/>


Send Amount : <%= @prev_transact_1["sendAmount"] %>  <%= @prev_transact_1["currency"] %>   <br/> 
Status : <%= @prev_transact_1["transferStatus"] %> <br/>
Reference Number : <%= @prev_transact_1["refNumber"] %> <br/>
( <%= @prev_transact_1["senderDate"] %> , <%= @prev_transact_1["senderTime"] %>)
<br/><hr/>

Name : <%= @prev_transact_2["payeeName"] %> <br/>


Send Amount : <%= @prev_transact_2["sendAmount"] %>  <%= @prev_transact_2["currency"] %>   <br/> 
Status : <%= @prev_transact_2["transferStatus"] %> <br/>
Reference Number : <%= @prev_transact_2["refNumber"] %> <br/>
( <%= @prev_transact_2["senderDate"] %> , <%= @prev_transact_2["senderTime"] %>)
</div>
</div>